.mainContainer{
    border: dashed red;
    background-color: yellow;
    text-align: center;
}

.heading{
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    margin: 15px;
    font-size: 40pt;
    font-weight: bold;
}

.introText{
    margin: 15px;
    font-size: 20pt;
    font-weight: bold;
}

.wantedPic{
    margin: 15px;
}


.mainText{
    margin: 15px;
}

.rewardText{
    margin: 15px;
    font-size: 20pt;
    font-weight: bold;
}